<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
                logFile="proxy_log.log"
                logLevel="INFO"
                mustMatch="true">
  <serverUrls>
  
           <serverUrl url="http://192.168.2.110:6080/arcgis/rest/services/" matchAll="true"/>
  </serverUrls>
</ProxyConfig>
